pyyaml~=6.0
pyqt5~=5.15.9
requests~=2.30.0
websockets~=11.0.2
jsonobject~=2.1.0
py-machineid~=0.3.0
pymodbus~=3.2.2
pyserial~=3.5
pyqtgraph~=0.13.3
gitpython~=3.1.31
pyqtdarktheme~=2.1.0
requests_futures~=1.0.0